In [ ]:
print("Blanche")
print("Hi","there")
print(10)
print("Number is", "5.5")

Blanche
Hi there
10
Number is 5.5

In [ ]:
print((3*12+5)/23)

1.7826086956521738

In [ ]:
input("Enter a name: ")
input("Enter a city: ")

Enter a name: Blanche
Enter a city: London

'London'

In [ ]:
name = input("Enter your name: ")
city = input("Enter a city: ")

print("Hello",name,"from",city)

Enter your name: Blanche
Enter a city: London
Hello Blanche from London

Exercise:

Ask the user to enter their name, tel number and city.
Print in the followin form:

Blanche from London tel is: 06060606

In [ ]:
name = input("Enter your name: ")
city = input("Enter a city: ")
tel = input("Enter you tel number: ")

print(name,"from",city,"tel is",tel)

Enter your name: Blanche
Enter a city: London
Enter you tel number: 06060606
Blanche from London tel is 06060606

In [ ]:
print("Blanche"+"1")

Blanche1

In [ ]:
print("Blanche"*3)

BlancheBlancheBlanche

In [ ]:
age = input("How old are you?")
print(age)

How old are you?18
18

In [ ]:
age = input("How old are you?")
print(age*3)

How old are you?18
181818

In [ ]:
age = int(input("How old are you?"))
print(age*3)

How old are you?18
54

Exercise

Ask the user to give you two numbers, one after the other.
Print the addition of numbers

5
6
=11

In [ ]:
x = int(input("Enter number: "))
y = int(input("Enter a number: "))

print(x+y)

Enter number 5
Enter a number6
11

In [ ]:
x = float(input("Enter number "))
y = float(input("Enter a number"))

print(x+y)

Enter number 5.5
Enter a number6
11.5

In [ ]:
x = int(input("Enter number: "))
y = int(input("Enter a number: "))

if y==0:
  print("I cannot divide by zero")
  print("You are stupid!")
else:
  print(x/y)

Enter number: 5
Enter a number: 0
I cannot divide by zero
You are stupid!

Ask the user to enter two number.
Print the largest number

5
12
max is 12

In [ ]:
x = int(input("Enter number: "))
y = int(input("Enter a number: "))

if x>y:
  print("Max is",x)
else:
  print("Max is",y)

Enter number: 545
Enter a number: 4
Max is 545

In [ ]:
x = int(input("Enter number: "))
if x>0:
  print("Positive")
elif x==0:
  print ("Zero")
else:
  print("Negative")

Enter number: -56
Negative

In [ ]:
x = int(input("Enter number: "))
if x>0 and x<10:
  print("number between 0 and 10")
else:
  print("Something else")

Enter number: 10
Something else

In [ ]:
x = float(input("Enter number: "))
if x>0 and x<10:
  print("Fail")
elif x>=10 and x<15:
  print("Pass")
elif x>=15 and x<=20:
  print("Distiction")
else:
  print("Error")

Enter number: 15
Distiction