In [ ]:
name = input("Enter your name: ")
print(name)

Enter your name: blanche
blanche

In [ ]:
num = int(input("Enter a number: "))
print(num*2)

if num>0:
  print("positive")
elif num<0:
  print("negative")
else:
  print("zero")

Enter a number: 0
0
zero

In [ ]:
num1 = float(input("Enter a number: "))
num2 = float(input("Enter a number: "))
operation = input("Enter a sign (+,-,*,/,**,>,<): ")

if operation=="+":
  print(num1+num2)
elif operation=="-":
  print(num1*num2)
elif operation=="*":
  print(num1*num2)
elif operation=="/" and num2!=0:
  print(num1/num2)
elif operation=="**":
  print(num1**num2)
elif operation==">" and num1>num2:
  print(num1)
elif operation=="<" and num1<num2:
  print(num1)
else:
  print("I do not support this yet!")

Enter a number: 4
Enter a number: 2
Enter a sign (+,-,*,/,**,>,<): >
4.0

In [ ]:
text = "My name is Blanche and I live in London"
print(text[0])
print(text[-1])

M
n

In [ ]:
text = "My name is Blanche and I live in London"
print(text[5:7])

me

In [ ]:
text = "London is the capital and largest city of both England and the United Kingdom, with a population of 8,866,180 in 2022. The wider metropolitan area is the"
print(text[5:7])

In [ ]:
text = input("Where are you from? ")

# If the city starts with L then print "Capital L"
# else print "Something else"
# Check if the text has a . at the end, if so say you have a dot.
# If not say there is no dont!

if text[0]=="L":
  print("Capital L")
else:
  print